body {
  margin: 0;
  font-family: sans-serif;
  background: #222;
  color: #ddd;
  text-align: center;
}
.App {
  width: 960px;
  margin: 0 auto;
  background-color: rgb(190, 187, 187);
}
h1 {
  color: #ffff57;
  font-size: 4em;
  letter-spacing: 2px;
}

ul {
  padding: 0px 32px 0px 32px;
}

ul li {
  padding-bottom: 15px;
}

button {
  margin: 0 10px;
  background: rgb(75, 75, 75);
  border: 3px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}
button:hover {
  color: red;
  border-color: #fff;
}
.content {
  text-align: left;
}
.accordion {
  padding: 0.4em 0.4em 0.4em 0.4em;
  background-color: steelblue;
  border-radius: 9px;
}

.Accordion.Header {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.card {
  background-color: rgb(190, 187, 187) !important;
  border-radius: 0px !important;
  border: none !important;
  margin-bottom: 5px;
}

.Search {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 58px;
  right: 126px;

  display: flex;
}

.SearchInput {
  width: 80%;
  border: 3px solid #1c76d2;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
}
